DSAUtil/Resources/EnvelopeSchema.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="Envelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="header" />
				<xs:element name="Body" type="body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="header">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="body">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>