DSAUtil/Resources/ResponseSchema.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="Envelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="EnvelopeHeader" />
				<xs:element name="Body" type="EnvelopeBody"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="EnvelopeHeader">
		<xs:sequence>
			<xs:element name="Status" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Code" type="xs:int" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Message " type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnvelopeBody">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="1" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>